@import 'var';
#box_top{
    .container{
        width:1190px;margin:0 auto;
        header{
            height:36px;width:100%;background-color:#f1f1f1;border-bottom:1px solid #e9e9e9;display:block;
            ul:first-child{
            float:left;display:inline-block;line-height:36px;font-size:12px;
            ul{display:none;}
            }
            ul:last-child{
            float:right;display:inline-block;
            .li_1{
                position:relative;
                #arrows_2{position:absolute;top:4px;left:55px;color:#5e5e5e;}
            }
            .li_1:hover{
                #arrows_2{transform:rotate(180deg);}
            }
            li{float:left;height:36px;margin:0 10px;line-height:36px;font-size:12px;
                span{
                    border-right:1px solid #ddd;padding-right:10px;
                }
                #help{border-left:1px solid #ddd;padding-left:10px;}
                a{color:#5e5e5e;}
                .phone{color:#c7a774;}
                #login{color:#d00;}
                #myyaowang{
                    color:#0083ce;border-bottom:1px solid #0083ce;position:relative;
                    .div_1{
                        background:#fff;position:absolute;top:0;left:-20px;text-align:center;z-index:1000;display:none;float:left;
                        li{width:95px;color:#5e5e5e;margin:0;}
                    }
                    li:hover{background-color:#aaa;color:#fff;}
                    }  
                }
            }
            ul:last-child li:hover a{
                border-bottom:1px solid #0083ce;color:#0083ce;
            }
            ul:last-child li:hover #login{
                border-bottom:1px solid #d00;
            }
        }
        .box_1{
            display:flex;padding-top:26px;
                div{
                position:relative;margin-right:100px;
                div:first-child{
                    float:left;display:inline-block;
                }
                div:nth-child(2){
                    position:relative;
                }
                .p1{position:absolute;top:50px;left:0;
                    a{color:#5e5e5e;font-size:14px;}
                    .xueyaji{color:#d00;font-size:14px;}
                    a:hover{border-bottom:1px solid #f00;color:#f00;}
            }

        }
        }
        .btn_1{
            width:82px;height:46px;line-height:55px;border:1px solid #c7a774;cursor:pointer;background-color: #fff;float:left;position:absolute;top:0;left:450px
        }
        .put_1{
            width:435px;height:44px;line-height:44px;padding: 0 5px 0 9px;border: 1px solid #c7a774;color:#666;font-size:14px;vertical-align: middle;background-color: #fff;float:left;;
        }
        .picture_1{
            img{
                width:100px;height:90px;
            }
        }
        .carslist{
            display:inline-block;border:1px solid #5e5e5e;width:140px;height:36px;position:absolute;top:100px;right:140px;border-radius:6px;
            span{color:#5e5e5e;line-height:36px;margin-left:20px;}
        }
        #box_bottom{
            border-top:2px solid #c7a774;display:flex;
        }
    }

}
#showname{line-height:36px;display:inline-block;height:36px;}
#box_bottom_l{
    width:180px;height:222px;margin-top:20px;
    >h2{
        font-size:14px;font-weight:bold;padding:18px 12px 9px;background-color:#ddd;border-top:1px solid #dbdbdb;color:#5E5E5E;
    }
    >h4{
        margin:0;padding:0 35px;height:36px;background-color:#2196F3;line-height:36px;font-size:12px;border-top:1px solid #e6e6e6;background-color:#f5f5f5;position:relative;
        #btnjian{position:absolute;top:10px;left:15px;width:15px;height:15px;line-height:13px;display:none;}
        #btnjia{@extend #btnjian;display:block;}
    }
    >.content{
        padding:0 35px;height:190px;display:none;
        >ul{
            >li{
                padding:7px 0;overflow:hidden;
                >a{color:#5E5E5E;font-size:14px;}
                >a:hover{color:#f00;border-bottom:1px solid #f00;}
            }
        }
    }
}
#datalist{
    display:flex;
}
#box_bottom_r{
    margin:20px 15px 20px 20px;margin-left:15px;border:1px solid #ddd;
    >div{
        border-bottom:1px solid #ddd;
        >h4{color:#f00;font-size:14px;padding-top:20px;margin-left:20px;}
        #box_bottom_r_top{
             
            >div{
                display:flex;
                >span{color:#5E5E5E;font-size:14px;margin-right:100px;}
                >.selection{
                    >ul{
                        float:left;margin-right:50px;
                        >li{
                            float:left;width:8px;margin-right:20px;margin-bottom:10px;text-align:center;
                            >a{color:#666;}
                        }
                    }
                }
                >button{
                    
                }
            }
        }
    }
    
}
