@charset "UTF-8";
body, html, header, ul, li, p, h1, h2, h3, h4, div, span, input, button, article {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#zoom {
  font-size: 40px;
  color: #c7a774;
  line-height: 36px;
}

#car {
  color: #5e5e5e;
  margin-left: 10px;
}

#arrows_1 {
  color: #5e5e5e;
}

#phone1 {
  color: #d00;
}

#box_top .container {
  width: 1190px;
  margin: 0 auto;
  border-bottom: 2px solid #c7a774;
  margin-bottom: 20px;
}

#box_top .container header {
  height: 36px;
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
  display: block;
}

#box_top .container header ul:first-child {
  float: left;
  display: inline-block;
  line-height: 36px;
  font-size: 12px;
}

#box_top .container header ul:first-child ul {
  display: none;
}

#box_top .container header ul:last-child {
  float: right;
  display: inline-block;
}

#box_top .container header ul:last-child .li_1 {
  position: relative;
}

#box_top .container header ul:last-child .li_1 #arrows_2 {
  position: absolute;
  top: 4px;
  left: 55px;
  color: #5e5e5e;
}

#box_top .container header ul:last-child .li_1:hover #arrows_2 {
  transform: rotate(180deg);
}

#box_top .container header ul:last-child li {
  float: left;
  height: 36px;
  margin: 0 10px;
  line-height: 36px;
  font-size: 12px;
}

#box_top .container header ul:last-child li span {
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

#box_top .container header ul:last-child li #help {
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

#box_top .container header ul:last-child li a {
  color: #5e5e5e;
}

#box_top .container header ul:last-child li .phone {
  color: #c7a774;
}

#box_top .container header ul:last-child li #login {
  color: #d00;
}

#box_top .container header ul:last-child li #myyaowang {
  color: #0083ce;
  border-bottom: 1px solid #0083ce;
  position: relative;
}

#box_top .container header ul:last-child li #myyaowang .div_1 {
  background: #fff;
  position: absolute;
  top: 0;
  left: -20px;
  text-align: center;
  z-index: 1000;
  display: none;
  float: left;
}

#box_top .container header ul:last-child li #myyaowang .div_1 li {
  width: 95px;
  color: #5e5e5e;
  margin: 0;
}

#box_top .container header ul:last-child li #myyaowang li:hover {
  background-color: #aaa;
  color: #fff;
}

#box_top .container header ul:last-child li:hover a {
  border-bottom: 1px solid #0083ce;
  color: #0083ce;
}

#box_top .container header ul:last-child li:hover #login {
  border-bottom: 1px solid #d00;
}

#box_top .container .box_1 {
  display: flex;
  padding-top: 26px;
}

#box_top .container .box_1 div {
  position: relative;
  margin-right: 100px;
}

#box_top .container .box_1 div div:first-child {
  float: left;
  display: inline-block;
}

#box_top .container .box_1 div div:nth-child(2) {
  position: relative;
}

#box_top .container .box_1 div .p1 {
  position: absolute;
  top: 50px;
  left: 0;
}

#box_top .container .box_1 div .p1 a {
  color: #5e5e5e;
  font-size: 14px;
}

#box_top .container .box_1 div .p1 .xueyaji {
  color: #d00;
  font-size: 14px;
}

#box_top .container .box_1 div .p1 a:hover {
  border-bottom: 1px solid #f00;
  color: #f00;
}

#box_top .container .btn_1 {
  width: 82px;
  height: 46px;
  line-height: 55px;
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  float: left;
  position: absolute;
  top: 0;
  left: 450px;
}

#box_top .container .put_1 {
  width: 435px;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 14px;
  vertical-align: middle;
  background-color: #fff;
  float: left;
}

#box_top .container .picture_1 img {
  width: 100px;
  height: 90px;
}

#box_top .container .carslist {
  display: inline-block;
  border: 1px solid #5e5e5e;
  width: 140px;
  height: 36px;
  position: absolute;
  top: 100px;
  right: 140px;
  border-radius: 6px;
}

#box_top .container .carslist span {
  color: #5e5e5e;
  line-height: 36px;
  margin-left: 20px;
}

img {
  border: 0;
  border: 0 none;
  display: block;
}

ol, ul, li {
  list-style: none;
}

body {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.container {
  width: 980px;
  margin: 0 auto;
}

main {
  width: 980px;
  height: 1000px;
  margin: 0 auto;
}

main .w_main_home i {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  left: 8px;
  top: 8px;
  background: url("../images/main_home.png") no-repeat;
}

main .w_back_top {
  position: fixed;
  top: 160px;
  right: 130px;
  opacity: 0;
  transition: opacity 1s;
}

main .w_back_top span {
  text-align: center;
  display: block;
  height: 30px;
  background-color: #ccc;
  line-height: 30px;
}

main .w_back_top span:hover {
  color: #ff4552;
}

footer {
  border-top: 2px solid #5A5A5A;
  height: 244px;
}

main .w_main_home {
  height: 30px;
  padding-left: 30px;
  position: relative;
}

main .w_main_home a {
  line-height: 30px;
  color: #333;
}

main .w_main_home a:hover {
  color: #ff4552;
}

main .w_shop {
  box-sizing: border-box;
  width: 980px;
  height: 715px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

main .w_shop .w_shop_l {
  width: 410px;
  height: 715px;
  position: relative;
  float: left;
}

main .w_shop .w_shop_l i:nth-of-type(1) {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/main_shop_arror_1.png");
}

main .w_shop .w_shop_l i:nth-of-type(2) {
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: url("../images/main_shop_arror_2.png");
}

main .w_shop .w_shop_l ul {
  padding-top: 30px;
}

main .w_shop .w_shop_l ul .li {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  float: left;
  margin-right: 7px;
  overflow: hidden;
}

main .w_shop .w_shop_l ul .li.active {
  border: 2px solid #ff4552;
}

main .w_shop .w_shop_l ul li img {
  width: 60px;
  display: block;
}

main .w_shop .w_shop_l ul li:nth-child(1), main .w_shop .w_shop_l ul li:nth-child(7) {
  width: 20px;
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: #ccc;
  margin-right: 7px;
}

main .w_shop .w_shop_c {
  width: 358px;
  height: 715px;
  float: left;
}

main .w_shop .w_shop_c h3 {
  padding-top: 5px;
  height: 50px;
  line-height: 16px;
  color: #000;
  font-size: 13px;
}

main .w_shop .w_shop_c h3 span {
  color: #ccc;
  font-size: 12px;
}

main .w_shop .w_shop_c h5 {
  color: #1c881c;
  padding-left: 70px;
  position: relative;
}

main .w_shop .w_shop_c h5 i {
  display: block;
  width: 65px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/main_shop_arror_3.png");
}

main .w_shop .w_shop_c h6 {
  color: #ccc;
  letter-spacing: 1.5px;
  padding-bottom: 15px;
}

main .w_shop .w_shop_c .sales {
  margin-top: 12px;
  width: 358px;
  height: 130px;
  background-color: #dfdfdf;
  border: 1px soli #cfcfcf;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

main .w_shop .w_shop_c .sales span:first-child {
  display: block;
  text-align: center;
  background-color: #ff7400;
  width: 60px;
  color: #ffcc00;
  position: absolute;
  right: -14px;
  top: 8px;
  transform: rotate(45deg);
}

main .w_shop .w_shop_c .sales p:first-of-type {
  line-height: 20px;
  padding: 5px 0 5px 12px;
}

main .w_shop .w_shop_c .sales span:nth-of-type(2) {
  padding: 5px 0 5px 20px;
  margin: 0 0 0 30px;
  position: relative;
  display: inline-block;
  height: 26px;
  width: 110px;
  border: 1px solid #b6a89a;
  box-sizing: border-box;
  border-left: transparent;
  font-weight: bolder;
}

main .w_shop .w_shop_c .sales span:nth-of-type(2) b {
  display: block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 4px solid #b6a89a;
  position: absolute;
  top: -1px;
  left: -12px;
  text-align: center;
  color: #ff9600;
  font-size: 18px;
  line-height: 18px;
}

main .w_shop .w_shop_c .sales span:nth-of-type(2) i {
  font-style: normal;
  color: #d00000;
}

main .w_shop .w_shop_c .sales span:nth-of-type(3) {
  display: inline-block;
  padding: 0 5px 0 5px;
}

main .w_shop .w_shop_c .sales span:nth-of-type(4) {
  color: #fa4a2b;
}

main .w_shop .w_shop_c .sales p:last-of-type {
  padding-left: 12px;
  line-height: 20px;
  color: #d00000;
}

main .w_shop .w_shop_c .sales p:last-of-type a {
  color: #333333;
  text-decoration: underline;
}

main .w_shop .w_shop_c .size {
  width: 358px;
  height: 280px;
  padding-top: 10px;
}

main .w_shop .w_shop_c .size h4 {
  color: green;
  font-weight: normal;
  padding-left: 25px;
  position: relative;
  margin-bottom: 5px;
}

main .w_shop .w_shop_c .size h4::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url("../images/free_gift.png");
  position: absolute;
  left: 5px;
  bottom: 0;
}

main .w_shop .w_shop_c .size p {
  height: 28px;
  line-height: 28px;
  background-color: #dfdfdf;
  padding: 5px;
  position: relative;
  margin: 2px;
}

main .w_shop .w_shop_c .size p input {
  vertical-align: middle;
}

main .w_shop .w_shop_c .size p a {
  /* display: block; */
  position: absolute;
  right: 25px;
  bottom: 6px;
  text-decoration: underline;
}

main .w_shop .w_shop_c .size p a::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 5px solid #5a5a5a;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  right: -12px;
  bottom: 5px;
}

main .w_shop .w_shop_c .size .dashed {
  width: 352px;
  margin: 5px 0 0 2px;
  border: 1px dashed #5a5a5a;
}

main .w_shop .w_shop_c .size .number {
  padding-top: 10px;
  position: relative;
  /* Ð´½¥±äÑùÊ½ */
}

main .w_shop .w_shop_c .size .number span {
  height: 20px;
  line-height: 20px;
}

main .w_shop .w_shop_c .size .number span input {
  width: 47px;
  outline: none;
  margin-left: 5px;
  height: 20px;
}

main .w_shop .w_shop_c .size .number .total {
  height: 40px;
  line-height: 40px;
}

main .w_shop .w_shop_c .size .number .total b {
  color: #ff4500;
}

main .w_shop .w_shop_c .size .number p {
  height: 12px;
  line-height: 12px;
  background-color: #fff;
  padding: 0 0 0 20px;
  margin: 0;
  color: #999999;
  position: relative;
}

main .w_shop .w_shop_c .size .number p::before {
  content: "";
  background: url("../images/arror.png");
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  left: 0;
}

main .w_shop .w_shop_c .size .number p b {
  color: #228b22;
}

main .w_shop .w_shop_c .size .number a {
  display: block;
  width: 141px;
  height: 30px;
  background: url("../images/car_button.png");
  position: absolute;
  right: 5px;
  top: 10px;
}

main .w_shop .w_shop_r img {
  display: block;
  margin: 0 0 15px 20px;
}

main .tag {
  margin-top: 12px;
  width: 980px;
  height: 234px;
  border: 1px solid #ccc;
}

main .tag .tag_name {
  margin-left: 15px;
  margin-top: 5px;
  width: 950px;
  border-bottom: 1px solid #ccc;
}

main .tag .tag_name li {
  float: left;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-bottom: 0 none;
}

main .tag .tag_name li:first-of-type {
  font-weight: bolder;
}

main .tag .tag_name li.tag_checked {
  border-color: #ccc;
}

main .tag .tag_main {
  position: relative;
}

main .tag .tag_main li {
  padding: 10px;
  width: 950px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

main .tag .tag_main .tag_checked2 {
  display: block;
}

main .tag .tag_main li div {
  width: 165px;
  float: left;
}

main .tag .tag_main li div img {
  width: 125px;
  display: block;
}

main .tag .tag_main li div h4 {
  font-weight: normal;
}

main .tag .tag_main li div span {
  color: #ff4500;
}

main .tag .tag_main li .jia, main .tag .tag_main li .dengyu {
  background: url("../images/jiahao.png") no-repeat;
  width: 25px;
  height: 25px;
  margin: 75px 20px 0;
}

main .tag .tag_main li .dengyu {
  background: url("../images/dengyu.png") no-repeat;
  float: right;
}

main .tag .tag_main li .result {
  width: 120px;
  float: right;
  padding-top: 18px;
}

main .tag .tag_main li .result p:nth-child(1) {
  height: 24px;
  line-height: 24px;
}

main .tag .tag_main li .result p:nth-child(2) {
  height: 24px;
  line-height: 24px;
  color: #ff4552;
}

main .tag .tag_main li .result p:nth-child(3) {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bolder;
  color: #ff4500;
}

main .tag .tag_main li .result p:nth-child(4) {
  height: 24px;
  line-height: 24px;
  color: #228b29;
}

main .tag .tag_main li .result a {
  display: block;
  width: 117px;
  height: 30px;
  background: url("../images/result.png");
}

main .news .header {
  height: 46px;
  border-bottom: 2px solid #505050;
  margin-bottom: 2px;
}

main .news .header p {
  display: inline-block;
  line-height: 60px;
  font-weight: bolder;
  height: 46px;
}

main .news .header span {
  display: block;
  margin-top: 18px;
  float: right;
  width: 238px;
  height: 30px;
  background-color: #505050;
  color: #fff;
  line-height: 30px;
  text-align: center;
  position: relative;
}

main .news .header span::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 6px solid #fff;
  position: absolute;
  right: 10px;
  bottom: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

main .news > img {
  display: block;
  float: left;
  width: 740px;
}

main .news .shops {
  width: 200px;
  height: 470px;
  float: left;
  padding-left: 40px;
}

main .news .shops .shop1 img {
  height: 140px;
  display: block;
}

main .news .shops .shop1 h4 {
  width: 160px;
  font-weight: normal;
}

main .news .shops .shop1 p:nth-child(4) span {
  color: #ff4552;
}

main .news .shops .shop1 p:nth-child(5) {
  color: #228b29;
}

.lxzoom {
  position: relative;
}

.lxzoom .minzoom {
  display: none;
  position: absolute;
  border: 1px solid #fc0;
  background-color: #ff0;
  background-color: rgba(255, 255, 0, 0.3);
  filter: alpha(Opacity=30);
}

.lxzoom-big {
  display: none;
  position: absolute;
  width: 200px;
  height: 300px;
  overflow: hidden;
}

.lxzoom-big img {
  position: absolute;
  left: 0;
  right: 0;
}

main .w_shop .w_shop_l > .bigPic > img {
  width: 200px;
  margin: 20px 0 0 80px;
}
