@charset "UTF-8";
body, html, header, ul, li, p, h1, h2, h3, h4, div, span, input, button, article {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#zoom {
  font-size: 40px;
  color: #c7a774;
  line-height: 36px;
}

#car {
  color: #5e5e5e;
  margin-left: 10px;
}

#arrows_1 {
  color: #5e5e5e;
}

#phone1 {
  color: #d00;
}

#box_top .container {
  width: 1190px;
  margin: 0 auto;
}

#box_top .container header {
  height: 36px;
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e9e9e9;
  display: block;
}

#box_top .container header ul:first-child {
  float: left;
  display: inline-block;
  line-height: 36px;
  font-size: 12px;
}

#box_top .container header ul:first-child ul {
  display: none;
}

#box_top .container header ul:last-child {
  float: right;
  display: inline-block;
}

#box_top .container header ul:last-child .li_1 {
  position: relative;
}

#box_top .container header ul:last-child .li_1 #arrows_2 {
  position: absolute;
  top: 4px;
  left: 55px;
  color: #5e5e5e;
}

#box_top .container header ul:last-child .li_1:hover #arrows_2 {
  transform: rotate(180deg);
}

#box_top .container header ul:last-child li {
  float: left;
  height: 36px;
  margin: 0 10px;
  line-height: 36px;
  font-size: 12px;
}

#box_top .container header ul:last-child li span {
  border-right: 1px solid #ddd;
  padding-right: 10px;
}

#box_top .container header ul:last-child li #help {
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

#box_top .container header ul:last-child li a {
  color: #5e5e5e;
}

#box_top .container header ul:last-child li .phone {
  color: #c7a774;
}

#box_top .container header ul:last-child li #login {
  color: #d00;
}

#box_top .container header ul:last-child li #myyaowang {
  color: #0083ce;
  border-bottom: 1px solid #0083ce;
  position: relative;
}

#box_top .container header ul:last-child li #myyaowang .div_1 {
  background: #fff;
  position: absolute;
  top: 0;
  left: -20px;
  text-align: center;
  z-index: 1000;
  display: none;
  float: left;
}

#box_top .container header ul:last-child li #myyaowang .div_1 li {
  width: 95px;
  color: #5e5e5e;
  margin: 0;
}

#box_top .container header ul:last-child li #myyaowang li:hover {
  background-color: #aaa;
  color: #fff;
}

#box_top .container header ul:last-child li:hover a {
  border-bottom: 1px solid #0083ce;
  color: #0083ce;
}

#box_top .container header ul:last-child li:hover #login {
  border-bottom: 1px solid #d00;
}

#box_top .container .box_1 {
  display: flex;
  padding-top: 26px;
}

#box_top .container .box_1 div {
  position: relative;
  margin-right: 100px;
}

#box_top .container .box_1 div div:first-child {
  float: left;
  display: inline-block;
}

#box_top .container .box_1 div div:nth-child(2) {
  position: relative;
}

#box_top .container .box_1 div .p1 {
  position: absolute;
  top: 50px;
  left: 0;
}

#box_top .container .box_1 div .p1 a {
  color: #5e5e5e;
  font-size: 14px;
}

#box_top .container .box_1 div .p1 .xueyaji {
  color: #d00;
  font-size: 14px;
}

#box_top .container .box_1 div .p1 a:hover {
  border-bottom: 1px solid #f00;
  color: #f00;
}

#box_top .container .btn_1 {
  width: 82px;
  height: 46px;
  line-height: 55px;
  border: 1px solid #c7a774;
  cursor: pointer;
  background-color: #fff;
  float: left;
  position: absolute;
  top: 0;
  left: 450px;
}

#box_top .container .put_1 {
  width: 435px;
  height: 44px;
  line-height: 44px;
  padding: 0 5px 0 9px;
  border: 1px solid #c7a774;
  color: #666;
  font-size: 14px;
  vertical-align: middle;
  background-color: #fff;
  float: left;
}

#box_top .container .picture_1 img {
  width: 100px;
  height: 90px;
}

#box_top .container .carslist {
  display: inline-block;
  border: 1px solid #5e5e5e;
  width: 140px;
  height: 36px;
  position: absolute;
  top: 100px;
  right: 140px;
  border-radius: 6px;
}

#box_top .container .carslist span {
  color: #5e5e5e;
  line-height: 36px;
  margin-left: 20px;
}

#box_top .container #box_bottom {
  border-top: 2px solid #c7a774;
  display: flex;
}

#showname {
  line-height: 36px;
  display: inline-block;
  height: 36px;
}

#box_bottom_l {
  width: 180px;
  height: 222px;
  margin-top: 20px;
}

#box_bottom_l > h2 {
  font-size: 14px;
  font-weight: bold;
  padding: 18px 12px 9px;
  background-color: #ddd;
  border-top: 1px solid #dbdbdb;
  color: #5E5E5E;
}

#box_bottom_l > h4 {
  margin: 0;
  padding: 0 35px;
  height: 36px;
  background-color: #2196F3;
  line-height: 36px;
  font-size: 12px;
  border-top: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  position: relative;
}

#box_bottom_l > h4 #btnjian, #box_bottom_l > h4 #btnjia {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 15px;
  height: 15px;
  line-height: 13px;
  display: none;
}

#box_bottom_l > h4 #btnjia {
  display: block;
}

#box_bottom_l > .content {
  padding: 0 0 0 35px;
  height: 190px;
  display: none;
  z-index: 1000;
}

#box_bottom_l > .content > ul > li {
  padding: 7px 0;
  overflow: hidden;
}

#box_bottom_l > .content > ul > li > a {
  color: #5E5E5E;
  font-size: 14px;
}

#box_bottom_l > .content > ul > li > a:hover {
  color: #f00;
  border-bottom: 1px solid #f00;
}

#datalist {
  display: flex;
  flex-wrap: wrap;
}

#datalist > ul {
  margin: 20px 8px;
}

#datalist > ul > div {
  border: 1px solid #e5e5e5;
  height: 28px;
  border-radius: 2px;
}

#datalist > ul > div > span {
  display: inline-block;
  margin-top: 4px;
  width: 19px;
  height: 19px;
}

#datalist > ul > div > span:first-child {
  margin-left: 20px;
  cursor: pointer;
}

#datalist > ul > div > span:nth-of-type(2) {
  margin-left: 20px;
  padding-right: 10px;
  cursor: pointer;
}

#datalist > ul > div > button {
  height: 24px;
  background-color: #fff;
  color: #ff6666;
  font-size: 12px;
  margin-left: 15px;
  cursor: pointer;
  border: 0 none;
  margin-bottom: -5px;
}

#datalist > ul > div > input {
  border: 1px solid #e6e6e6;
  margin-top: 4px;
  border-top: none;
  border-bottom: none;
  height: 14px;
  width: 30px;
  line-height: 19px;
  color: #262626;
  text-align: center;
}

#datalist > ul > p {
  color: #f00;
}

#datalist > ul > p::before {
  content: "￥";
}

#datalist > ul > h4 {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  color: #5dc3f1;
  font-size: 16px;
  font-weight: 100;
}

#datalist > ul > h4:hover {
  color: #f00;
}

#datalist > img {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.biaoti {
  color: #f00;
  font-size: 14px;
  margin: 0 0 10px 20px;
}

#box_bottom_r {
  margin: 20px 15px 20px 20px;
  margin-left: 15px;
  width: 100%;
}

#box_bottom_r > div {
  border: 1px solid #ddd;
}

#box_bottom_r > div #box_bottom_r_top .di_1 {
  height: 43px;
  line-height: 43px;
}

#box_bottom_r > div #box_bottom_r_top .di_1 > .selection {
  display: inline-block;
}

#box_bottom_r > div #box_bottom_r_top .di_1 > .selection > ul {
  float: left;
  padding-right: 50px;
}

#box_bottom_r > div #box_bottom_r_top .di_1 > .selection > ul > li {
  float: left;
  width: 8px;
  margin-right: 20px;
  text-align: center;
}

#box_bottom_r > div #box_bottom_r_top .di_1 > .selection > ul > li > a {
  color: #666;
}

#box_bottom_r > div #box_bottom_r_top .di_1 > .selection > ul > li > a:hover {
  color: #f00;
}

#box_bottom_r > div #box_bottom_r_top .di_2 {
  height: 75px;
  line-height: 75px;
  border: 1px solid #ddd;
  display: flex;
  margin: -2px -1px 0 -1px;
}

#box_bottom_r > div #box_bottom_r_top .di_2 > .selection {
  display: inline-block;
}

#box_bottom_r > div #box_bottom_r_top .di_2 > .selection > div {
  float: left;
}

#box_bottom_r > div #box_bottom_r_top .di_2 > .selection > div > ul {
  float: left;
}

#box_bottom_r > div #box_bottom_r_top .di_2 > .selection > div > ul > li {
  float: left;
  margin-right: 28px;
}

#box_bottom_r > div #box_bottom_r_top .di_2 > .selection > div > ul > li > a {
  color: #666;
  font-size: 12px;
}

#box_bottom_r > div #box_bottom_r_top .di_2 > .selection > div > ul > li > a:hover {
  color: #f00;
}

#box_bottom_r > div #box_bottom_r_top .di_3 {
  height: 43px;
  line-height: 43px;
  border: 1px solid #ddd;
  display: flex;
  margin: -1px -1px 0 -1px;
}

#box_bottom_r > div #box_bottom_r_top .di_3 > .selection {
  display: inline-block;
}

#box_bottom_r > div #box_bottom_r_top .di_3 > .selection > ul {
  float: left;
  margin-right: 668px;
}

#box_bottom_r > div #box_bottom_r_top .di_3 > .selection > ul > li {
  float: left;
  margin-right: 28px;
}

#box_bottom_r > div #box_bottom_r_top .di_3 > .selection > ul > li > a {
  color: #666;
  font-size: 12px;
}

#box_bottom_r > div #box_bottom_r_top .di_3 > .selection > ul > li > a:hover {
  color: #f00;
}

#box_bottom_r > div #box_bottom_r_top .di_4 {
  height: 43px;
  line-height: 43px;
  border: 1px solid #ddd;
  display: flex;
  margin: -1px -1px 0 -1px;
}

#box_bottom_r > div #box_bottom_r_top .di_4 > .selection {
  display: inline-block;
}

#box_bottom_r > div #box_bottom_r_top .di_4 > .selection > ul {
  float: left;
  margin-right: 388px;
}

#box_bottom_r > div #box_bottom_r_top .di_4 > .selection > ul > li {
  float: left;
  margin-right: 18px;
}

#box_bottom_r > div #box_bottom_r_top .di_4 > .selection > ul > li > a {
  color: #666;
  font-size: 12px;
}

#box_bottom_r > div #box_bottom_r_top .di_4 > .selection > ul > li > a:hover {
  color: #f00;
}

#bt {
  margin-right: 50px;
}

#tot {
  color: #5E5E5E;
  font-size: 12px;
  margin: 0 40px 0 20px;
  display: inline-block;
  width: 60px;
}

#goodslist {
  margin-top: 40px;
}

#goodslist .di_5 {
  height: 30px;
  border: 1px solid #ddd;
  line-height: 30px;
  background-color: #f5f5f5;
  border-bottom: 0 none;
}

#goodslist .di_5 > ul {
  float: left;
}

#goodslist .di_5 > ul > li {
  float: left;
  border-right: 1px solid #ddd;
}

#goodslist .di_5 > ul > li > a > span {
  padding: 0 10px;
  display: block;
  color: #333;
  font-size: 14px;
  width: 40px;
}

#goodslist .di_5 > ul > li:hover {
  background-color: #fff;
}

#goodslist .di_5 > ul .first_span {
  color: #f00;
  padding-left: 20px;
  background-color: #fff;
}

#dingwei {
  position: relative;
}

.tub_1 {
  color: #5E5E5E;
  font-size: 12px;
}

#tub_1_4 {
  position: absolute;
  top: -720px;
  left: 295px;
}

#tub_1_3 {
  position: absolute;
  top: -720px;
  left: 235px;
}

#tub_1_2 {
  position: absolute;
  top: -720px;
  left: 175px;
}

#tub_1_1 {
  position: absolute;
  top: -720px;
  left: 110px;
}

#tub_2 {
  color: #5E5E5E;
  position: absolute;
  top: -726px;
  left: 355px;
}

#tub_3 {
  color: #5E5E5E;
  position: absolute;
  top: -716px;
  left: 355px;
}
